.calculator-ui {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.display-box {
  background-color: #fff;
  color: #333;
  font-size: 2rem; /* Adjust the font size */
  text-align: right;
  padding: 15px; /* Adjust the padding */
  border-radius: 5px;
  margin-bottom: 10px;

}

.buttons {
  margin-top: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.button-column {
  display: flex;
  flex-direction: column;

}

button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 1.2rem;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin: 5px;
}

button:hover {
  background-color: #ccc;
}

.button-clear {
  background-color: #ff5252;
  color: #fff;
}

.button-clear:hover {
  background-color: #e63946;
}

.button-equal {
  background-color: #2ecc71;
  color: #fff;
  grid-column: span 2;
}

.button-equal:hover {
  background-color: #27ae60;
}

/* Responsive styling for smaller screens */
@media (max-width: 400px) {
  .calculator-ui {
    width: 90%;
  }

  button {
    padding: 10px;
    font-size: 1rem;
  }
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.display_size {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}